* {
  color: white;
}

*::selection {
  background: #242424;
  color: white;
}

html {
  background: #242424;
}

body {
  background-color: #242424 !important;
  overflow: hidden;
}

html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
